@font-face {
  font-family: "Fredoka One";
  src: url("./fonts/FredokaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Archivo Black";
  src: url("./fonts/ArchivoBlack-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Default theme/Login theme: */
html, html[data-theme="Warrior"] {
  --background: url("./images/background.jpg");
  --darkColor: #393F26;
  --lightColor: #EDDDD4;
  --hoverLightColor: #A89D97;
  --splashColor: #AD0101;
  --hoverSplashColor: #6d0000;
}

html[data-theme="Mage"] {
  --background: url("./images/background.jpg");
  --darkColor: #393F26;
  --lightColor: #EDDDD4;
  --hoverLightColor: #A89D97;
  --splashColor: blue;
  --hoverSplashColor: #6d0000;
}

html[data-theme="Cleric"] {
  --background: url("./images/background.jpg");
  --darkColor: #393F26;
  --lightColor: #EDDDD4;
  --hoverLightColor: #A89D97;
  --splashColor: yellow;
  --hoverSplashColor: #6d0000;
}

html[data-theme="Bard"] {
  --background: url("./images/background.jpg");
  --darkColor: #393F26;
  --lightColor: #EDDDD4;
  --hoverLightColor: #A89D97;
  --splashColor: purple;
  --hoverSplashColor: #6d0000;
}

body {
  background-image: var(--background);
  color: var(--lightColor);
  font-family: "Fredoka One";
}
h2,
strong {
  font-family: Fredoka One;
}
strong {
  font-size: 3rem;
}
button.btn {
  background-color: var(--splashColor);
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
  border-radius: 2rem;
}
button,
button:hover {
  transition: color 0.25s ease;
}
button:hover {
  border: 2px solid var(--lightColor) !important;
  background-color: var(--hoverSplashColor) !important;
}
button a:hover {
  text-decoration: none !important;
}
