@font-face {
  font-family: "Archivo Black";
  src: url("./fonts/ArchivoBlack-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fredoka One";
  src: url("./fonts/FredokaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Default theme/Login theme: */
html,
html[data-theme=""] {
  --background: url("./images/background.jpg");
  --darkColor: #393f26;
  --lightColor: #edddd4;
  --hoverLightColor: #c6b8a3;
  --splashColor: #ad0101;
  --hoverSplashColor: #6d0000;
}

html[data-theme="Warrior"] {
  --background: url("./images/background-red.jpg");
  --darkColor: #9e1424;
  --lightColor: #d9cab3;
  --hoverLightColor: #a89d97;
  --splashColor: #5e0b15;
  --hoverSplashColor: #3c080e;
}

html[data-theme="Mage"] {
  --background: url("./images/background-blue.jpg");
  --darkColor: #3a4454;
  --lightColor: #fcd4e5;
  --hoverLightColor: #cfaebc;
  --splashColor: #235789;
  --hoverSplashColor: #1a4064;
}

html,
html[data-theme="Cleric"] {
  --background: url("./images/background-yellow.jpg");
  --darkColor: #3c4f23;
  --lightColor: #f7f3e3;
  --hoverLightColor: #a89d97;
  --splashColor: #ba9d50;
  --hoverSplashColor: #6d0000;
}

html[data-theme="Bard"] {
  --background: url("./images/background-purple.jpg");
  --darkColor: #44323e;
  --lightColor: #fcf6b1;
  --hoverLightColor: #b8b381;
  --splashColor: #5f4bb6;
  --hoverSplashColor: #342964;
}

body {
  background-image: var(--background);
  color: var(--lightColor);
  font-family: "Fredoka One";
}
h2,
strong {
  font-family: "Archivo Black", sans-serif;
}
strong {
  font-size: 3rem;
}

button.btn {
  background-color: var(--splashColor);
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
  border-radius: 2rem;
}
button,
button:hover {
  transition: color 0.25s ease;
}
button:hover {
  border: 2px solid var(--hoverLightColor) !important;
  background-color: var(--hoverSplashColor) !important;
  color: var(--hoverLightColor) !important;
}
button a:hover {
  text-decoration: none !important;
}

.instruction-text {
  background: var(--lightColor);
  color: var(--darkColor);
  border: 2px solid var(--darkColor);
  border-radius: 2rem;
  padding: 15px 17px;
  position: relative;
  box-shadow: 5px 5px var(--darkColor);
}
.instruction-text:after,
.instruction-text:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.instruction-text:after {
  border-top-color: var(--lightColor);
  border-width: 30px;
  margin-left: -30px;
}
.instruction-text:before {
  border-top-color: var(--darkColor);
  border-width: 33px;
  margin-left: -33px;
}
.instruction-col {
  position: relative;
}
.instruction-box {
  position: absolute;
  top: -170px;
  z-index: 3000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
