.center-block {
  display: block;
  margin: 0 auto;
}

button {
  /* transition: color 0.25s ease; */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

/* col img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
} */

.form-control {
  border-radius: 2rem;
}
