#paper {
<<<<<<< HEAD
  border: 2px solid black;
  /* background-image: url(process.env.PUBLIC_URL + "/images/quest.png"); */
}

.scroller {
  overflow: scroll;
  width: 960px;
  height: 720px;
=======
    border: 2px solid black;   
    
>>>>>>> 1ef7f288ba51678697006e77072d3105a4953e43
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
