#paper {
  border: 2px solid black;
  background-image: url("/images/quest.png") "";
}

.scroller {
  overflow: scroll;
  width: 960px;
  height: 720px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.chart-instructions {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.chart-instructions .charapic-chart {
  display: block;
  
  width: 300px;
  height: auto;
}
.chart-instructions .instruction-box  {
  right: 275px;
  left: -375px;
  top: -150px;
}
.chart-instructions .dismiss-text {
  color: var(--darkColor)
}
.chart-instructions .instruction-text {
	position: relative;
	background: var(--lightColor);
	border: 2px solid var(--darkColor);
}
.chart-instructions .instruction-text:after, .chart-instructions .instruction-text:before {
	left: 100%;
	top: 50%;
  margin-left: 0;
}

.chart-instructions .instruction-text:after {
	border-left-color: var(--lightColor);
	border-width: 30px;
  margin-top: -30px;
}
.chart-instructions .instruction-text:before {
	border-left-color: var(--darkColor);
	border-width: 33px;
  margin-top: -33px;
}
@media (max-width: 992px) {
  .charapic-chart {
    width: 200px;
  }
}